MAIN COLORS
:root{

    --pri-color: #363C49;
    --sec-color: #464F67;
    --ter-color: #55699C;
    --qua-color: #94CFBB;

    --pri2-color: #2B6CA4;
    --sec2-color: #4E9AEB;
    --ter2-color: #64DCED;
    --qua2-color: #71F1E3;

}


/* https://colorhunt.co/palette/002b5b2b4865256d858fe3cf
#002B5B
#2B4865
#256D85
#8FE3CF

----------------------

V2
https://colorhunt.co/palette/363c49464f6755699c94cfbb#justCreated
#363C49
#464F67
#55699C
#94CFBB

AUXILARY
https://colorhunt.co/palette/2b6ca44e9aeb64dced71f1e3#justCreated
#2B6CA4
#4E9AEB
#64DCED
#71F1E3 */