<div class="bg"></div>
<div class="signup-box">
    <h2>Sign Up</h2>
    <form>
        <div class="profile-pic">
            <label class="-label" for="file">
                <span class="glyphicon glyphicon-camera"></span>
                <span>Change Image</span>
            </label>
            <input id="file" type="file" onchange="selectFile(event)" />
            <img src="../../assets/img/default.jpg" id="output" width="200" />
        </div>
        <div style="height: 20px;"></div>
        <div class="user-box">
            <input type="text" name="username" required="" [(ngModel)]="name">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input type="text" name="email" required="" [(ngModel)]="email">
            <label>Email</label>
        </div>
        <div class="user-box">
            <input name="birthdate" type="email" onfocus="(this.type='date')" onblur="if(!this.value)this.type='email'" [(ngModel)]="birth">
            <label>Date of Birth</label>
        </div>

        <div class="user-box">
            <input type="password" name="password" required="" [(ngModel)]="password">
            <label>Password</label>
        </div>
        <a herf="javascript: void(0);" (click)="signUpClick();">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </a>
    </form>
</div>