<div class="card">
    <div class="card-body">
        <div class="h5">{{pagedata.name}}</div>
        <div class="h7 text-muted">{{pagedata.position}}</div>
        <div class="h7">{{pagedata.description}}
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="h6 text-muted">Followers</div>
            <div class="h5">{{pagedata.followers}}</div>
        </li>
        <li class="list-group-item">Created at {{pagedata.createdat}}</li>
    </ul>
</div>