<div class="card">
    <div class="card-body">
        <div class="h5">{{name}}</div>
        <div class="h7 text-muted">Name: Peter Montez</div>
        <div class="h7">Random guy that has no idea what he's doing but somehow the project is kinda going forward.
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="h6 text-muted">Followers</div>
            <div class="h5">1234</div>
        </li>
        <li class="list-group-item">Lorem ipsum dolor sit amet.</li>
    </ul>
</div>