body {
    background-color: #141618;
    margin-top: 50px;
    
}

.top-spacer {
    margin-top: 1vh;
    height: 1px;
}

.bg {
    position: fixed;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/img/bgs/darkwaves.jpg);
    background-repeat: repeat-x;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    /* filter: blur(5px); */
    /* opacity: 50%; */
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}