<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">


<!-- Toolbar -->
<div class="toolbar" role="banner">
    <div class="dot">
    </div>
    <img width="42" alt="Logo"
        src="../../assets/img/logo.png" />
    <div style="margin-top: 6px; margin-left: 8px; letter-spacing: 3px;">
        <div class="Title">
            <span>LinkWave</span>
        </div>
    </div>
    <div class="spacer"></div>
    <div style="width: 10px;"></div>
    <button type="button" class="Login"><p>Log In</p></button>
    <div style="width: 10px;"></div>
    <button type="button" class="SignUp"><p>Sign Up</p></button>
    <div style="width: 25px;"></div>
    <div class="user">
        <img src="../../assets/img/user.png" />
    </div>
</div>