<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<div class="main panel panel-default z-depth-4">
    <div class="panel-body">
        <div class="media">
            <div class="media-left">
                <img src="../../assets/img/default.jpg"
                    class="media-object circle">
            </div>
            <div class="media-body">
                <p>Neo Motto <span class="time">(13 min. ago)</span></p>
                <span><i class="fa fa-ellipsis-h right"></i></span>
            </div>
        </div>

        <div class="post">

            <img class="not"
                src="../../assets/img/bgs/waves.jpg">
            <p class="iconsec"><i class="fa fa-heart-o"></i>   <i class="fa fa-share"></i> 
                <span class="right"><b>X likes</b></span></p>

            <h4 class="title">Lorem ipsum dolor sit amet</h4>
            
            <p class="caption">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

            <p class="read">Read X Comments <span class="right"><b>Add Comment </b> <i class="fa fa-comment-o"></i></span></p>
        </div>

        <a href="#" class="btn" id="open"><i class="fa fa-plus"></i></a>
    </div>
</div>