body {
    /* background-color: #363C49; */
    margin-top: 50px;
}

.h7 {
    font-size: 0.8rem;
    color: #adcfae;
}

.card-text {
    color: #adcfae;
}

.card-title {
    color: #87c1ff;
}

.card-link {
    color: #c2d8f0;
}

.h6 {
    color: #4E9AEB;
}

.card {
    background-color: #1c2733;
}

.list-group-item {
    background-color: #213142;
    color: #98b6a1;
}

